*{
	font-family: "Inter", sans-serif;
}
:root{
	--bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.03);
}
.main-logo{
	width: 80px;
	display: block;
}
.not-data{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 15px;
}
.not-data {
	img{
		display: block;
		width: 45px;
	}
	span{
		display: block;
		color: #2D2D25;
		font-size: 12px;
		font-weight: 500;
	}
}
.profile-section{
	gap: 10px;
}
.profile-section{
	img{
		width: 34px;
		height: 34px;
		object-fit: cover;
		display: block;
	}
	> div:first-of-type {
		display: flex;
		flex-direction: column;
		text-align: right;
	}
	span {
		color: #2D2D25;
		font-weight: 500;
		font-size: 13px;
		display: block;
		line-height: 1.15;
	}
	i{
		font-size: 13px;
		opacity: .4;
		color: #2D2D25;
		font-style: normal;
		display: block;
		line-height: 1.15;
	}
}

.dots-decoration {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 15px;
	padding-left: 15px;
}
.dots-decoration{
	div{
		width: 15px;
		height: 15px;
		border-radius: 100rem;
		background-color: #F7F4EA;
	}
}
.main-layout {
	height: calc(100vh - 66px);
}
main{
	width: calc(100% - 530px);
}

aside{
	background-color: #F7F4EA;
	padding: 0 25px;
}
aside{
	nav{
		height: 100px;
	}
	
	nav ul{
		gap: 15px;
		padding: 0;
		margin: 0;
	}
	nav ul li button{
		background-color: #FFF;
		border-radius: 6px;
		height: 45px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 150px;
		gap: 5px;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.03);
		border: none;
		transition: .3s ease all;
	}
	nav ul li button span{
		color: #2D2D25;
		text-decoration: none;
		font-weight: 600;
		font-size: 12px;
		transition: .3s ease all;
	}
	nav ul li button:hover,
	nav ul li button.active{
		background-color: #CBC5B5;
	}
	nav ul li button:hover span,
	nav ul li button.active span{
		color: #FFF;
	}
	nav ul li button:hover img,
	nav ul li button.active img{
		filter: brightness(0) invert(1);
	}
	nav ul li button img{
		width: 15px;
		transition: .3s ease all;
	}
	.tab-content {
    height: calc(100% - 100px);
	}
	.tab-pane{
		height: 100%;
		position: relative;
	}
	.not-data{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
		margin: auto;
	}
}